*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul ol li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #000000;
}
body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #FBFBFB;
}

.container {
  max-width: 1231px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
.header .header__body {
  position: relative;
  z-index: 2;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.header__burger {
  display: none;
}
.header__desc {
  font-size: 12px;
  line-height: 15px;
  line-height: 107%;
  letter-spacing: 2px;
  background-color: #000000;
  color: #FBFBFB;
  text-align: center;
  padding-block: 7px;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  padding-block: 22px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link {
  text-transform: uppercase;
  color: #000000;
}
.header__link:hover {
  text-decoration: underline;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.offer__content {
  background: url("../img/scooter.jpg") no-repeat center/cover;
  height: 100vh;
  text-align: center;
}
.offer__title {
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-align: center;
  padding-top: 53px;
}
.offer__text {
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  color: #000000;
  font-size: 15px;
  margin-top: 14px;
  margin-bottom: 22px;
}
.offer__btn_left {
  background-color: #FF4A32;
  border-radius: 35px;
  max-width: 200px;
  line-height: 22.5px;
  font-size: 15px;
  padding: 5px 47px;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.offer__btn_left:hover {
  background-color: #f5260b;
}
.offer__btn_right {
  background-color: #FF4A32;
  border-radius: 35px;
  line-height: 22.5px;
  font-size: 15px;
  padding: 5px 47px;
  max-width: 200px;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.offer__btn_right:hover {
  background-color: #f5260b;
}

.icons {
  background-color: #000000;
}
.icons__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 24px;
}

.search {
  margin: 0 auto;
}
.search__title {
  text-align: center;
  font-size: 32px;
  line-height: 36px;
  line-height: 96%;
  margin-top: 52px;
  margin-bottom: 17px;
}
.search__text {
  position: relative;
  max-width: 665px;
  line-height: 18.75px;
  font-size: 15px;
  margin: 0 auto;
  text-align: center;
}
.search__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 54px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  aspect-ratio: 1/1;
}

.skater__content {
  background: url("../img/skater.jpg") no-repeat center/cover;
  height: 735px;
  text-align: center;
  margin-top: 20px;
}
.skater__title {
  font-style: 700;
  font-size: 45px;
  line-height: 50.63px;
  line-height: 96%;
  margin-top: 11px;
}
.skater__text {
  max-width: 488px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-inline: 10px;
}
.skater__btn {
  background-color: #FF4A32;
  border-radius: 35px;
  max-width: 200px;
  line-height: 22.5px;
  font-size: 15px;
  padding: 5px 47px;
  width: 100%;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skater__btn:hover {
  background-color: #f5260b;
}

.skater__performance {
  padding-top: 44px;
  display: block;
  font-size: 15px;
  line-height: 18.75px;
  line-height: 107%;
}

.advertisement {
  margin-top: 45px;
}
.advertisement__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.advertisement__img {
  max-width: 350px;
  display: block;
  margin: 0 auto;
}
.advertisement__turnover {
  font-size: 34px;
  line-height: 38.4px;
  line-height: 102%;
}
.advertisement__text {
  margin: 21px 0px 18px 0;
  font-size: 15px;
  line-height: 22.5px;
  line-height: 128%;
  max-width: 339px;
}
.advertisement__btn {
  padding: 5px 16px;
  background-color: #FF4A32;
  border-radius: 35px;
  display: block;
  max-width: 101px;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.advertisement__btn:hover {
  background-color: #f5260b;
}
.advertisement__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
  gap: 20px;
}

.search {
  margin-top: 84px;
}
.search__title {
  font-style: 700;
  font-size: 32px;
  line-height: 36px;
  line-height: 96%;
}

.swiper-button-next .swiper-button-prev::after,
.swiper-wrapper-prev .swiper-button-next::after {
  color: red;
  font-size: 80px;
}

.tagline {
  background-color: #000000;
  margin-top: 96px;
  padding: 35px 55px;
}
.tagline__fast {
  display: block;
  color: white;
  font-size: 31px;
  line-height: 36px;
  line-height: 99%;
  text-align: center;
  margin-top: 5px;
}
.tagline__img {
  margin: 0 auto;
}
.tagline__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tagline__text {
  font-size: 15px;
  line-height: 22.5px;
  line-height: 128%;
  color: #FBFBFB;
  max-width: 278px;
  text-align: center;
  margin-top: 25px;
}

.footer {
  padding-block: 50px;
  background-color: #F7F7F7;
}
.footer__link {
  color: #000000;
  font-size: 13px;
  line-height: 21px;
}
.footer__list {
  padding: 0;
  margin: 0;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__logo {
  display: block;
}
.footer__column {
  max-width: 367px;
}
.footer__title {
  font-size: 20px;
  line-height: 30px;
  line-height: 128%;
  margin-bottom: 10px;
}
.footer__wrapper {
  margin-top: 19px;
  font-style: normal;
}
.footer__interpreter {
  display: block;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 0 32px 0;
}

@media (max-width: 1250px) {
  .advertisement__img {
    max-width: 250px;
    display: block;
    margin: 0 auto;
  }
  .search__photo {
    max-width: 350px;
    margin: 0 auto;
  }
  .header__nav {
    display: none;
  }
  .header__item {
    font-size: 12px;
  }
  .icons__content {
    display: none;
  }
  .tagline__text {
    font-size: 13px;
    max-width: 150px;
  }
  .tagline__fast {
    font-size: 25px;
  }
}
@media (max-width: 1000px) {
  .video__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 966px) {
  .header__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 30px;
  }
  .video__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .footer__logo {
    display: block;
    margin: 0 auto;
  }
  .footer__inner {
    text-align: center;
  }
  .footer__column {
    margin: 0 auto;
    margin-top: 20px;
  }
  .footer__title {
    text-align: center;
    display: block;
  }
  .footer__list {
    text-align: center;
    margin-top: 20px;
  }
  .footer__text {
    display: none;
  }
}
@media (max-width: 800px) {
  .advertisement__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advertisement__text {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .advertisement__turnover {
    text-align: center;
    display: block;
  }
  .advertisement__btn {
    display: block;
    margin: 0 auto;
  }
  .advertisement__photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 750px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
    padding-top: 100px;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #FF4A32;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    margin: 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header__list.active {
    -webkit-transform: none;
            transform: none;
    overflow: auto;
  }
  .offer__title {
    font-size: 34px;
  }
  .header__link {
    font-size: 16px;
    color: #FBFBFB;
    display: block;
    text-align: center;
    padding: 5px;
  }
  .header__btn {
    display: none;
  }
  .header__item {
    width: 100%;
    text-align: center;
  }
  .search__photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .video__content {
    display: none;
  }
  .tagline__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 20px;
  }
  .tagline__inner {
    margin-top: 40px;
  }
  .footer__payment {
    text-align: center;
    margin-top: 10px;
  }
  .footer__bottom {
    text-align: center;
    padding-block: 19px;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    border: none;
    padding: 0;
    background-color: transparent;
  }
  .header__burger.active span {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
  }
  .header__burger.active:before {
    top: 50%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__burger.active:after {
    bottom: 50%;
    -webkit-transform: rotate(-45deg) translateX(-1px);
            transform: rotate(-45deg) translateX(-1px);
  }
  .header__burger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    top: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
@media (max-width: 420px) {
  .offer__btn_left {
    padding: 5px 15px;
    font-size: 12px;
  }
  .offer__btn_right {
    padding: 5px 15px;
    font-size: 12px;
  }
  .offer__title {
    font-size: 20px;
  }
  .search__title {
    font-size: 25px;
  }
  .skater__title {
    font-size: 25px;
  }
  .swiper__tire {
    text-align: center;
    display: block;
  }
  .swiper__price {
    text-align: center;
    display: block;
    margin-top: 20px;
  }
  .swiper__tire {
    text-align: center;
    display: block;
    margin-top: 20px;
  }
  .swiper__img {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__payment {
    margin-top: 30px;
  }
}